<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackerru.daniel.moodyplaylist">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.SEND_SMS" />

    <resources>
        <string android:name="com.twitter.sdk.android.CONSUMER_KEY">leU3AdNcwUA0A9AQTEjBTLNO5</string>
        <string android:name="com.twitter.sdk.android.CONSUMER_SECRET">5VEGt4XYGulxt1jk5L5OIEWNWRty7X6ANv2FrgQxcwZPDgUyuL</string>
    </resources>
</manifest>